*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;

}
body {
 font-family: 'montserrat',sans-serif;
 background-color:#dde7f0;
 position: relative;
}
header{
  margin-top: 0;
  padding: 30px 20px 0px;
  display: flex;
  justify-content: space-between;
  background-color:#b5d6f7;
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 0px 8px 3px gray;
}
.logo{
  display: flex;
  /* margin-left: 10px; */
}
header h2{
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  font-family:cursive;
  text-shadow: 2px 2px #4484c4;
 
}
header-Links{
  text-decoration: none;
  list-style: none;
}


main{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  position: sticky;
  
}
.search{
  margin-bottom: 20px;
}
.searchbox{
  padding: 15px; 
}
.searchbar{
  padding: 10px;
  margin-top: 120px;
  display: block;
  width: 100%;
  background-color: #eee;
  border-radius: 8px 8px;
  color: #53565A;
  font-size: 20px;
  font-weight: 300;
  transition: 0.4s ease-out;
  margin-bottom : 20px;
}
.searchbar:focus{
  box-shadow: 0px 0px 8px 3px #4484c4;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}
.card{
  position: relative;
  margin: 10px;
  border-radius:5px; 
  overflow:hidden;
  
}
.card:hover{
  box-shadow:0px 0px 2px 2px rgb(156, 154, 154) ;
}
 .info{
text-align: center;
} 
.overview{
  padding: 0.5rem;
  background-color: white;
  color: black;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
}
.card:hover .overview{
  transform: translateY(0);
}
h1{
  color:crimson;
  font-size: 3rem;
}
button:hover{
  background-color: darkgrey;
}